/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:  rgba(220, 220, 220);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(60, 60, 60);
  color: white;
}

html {
   color: rgba(220, 220, 220);
   font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(40, 40, 40);
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link, a:visited, a:hover, a:active {
  color: rgba(220, 220, 220);
  padding: 20px;
  text-decoration: none;
}